Index Application Controller

<span class="glyphicon glyphicon-search"></span>

<div class="checkbox">
	<label>checkbox</label>
	<input id="checkbox1" type="checkbox" /> 
</div>
<script type="text/javascript">
$('#checkbox1').iCheck();
</script>
