.row
  .col-md-10.col-md-offset-1
    %h3
      = t 'cms.page.sections_page', page: @page.name
    .row
      .panel
        .tabbable.tabs-left.clearfix
          %ul#sections_tab.nav.nav-tabs
            - @sections.each_with_index do |section, i|
              %li{ class: (i == 0) ? 'active' : ''}
                %a{ :href => '#' + section.alias, 'data-toggle' => 'tab' }
                  = section.name
          .tab-content
            - @sections.each_with_index do |section, i|
              .tab-pane.fade{ id: section.alias, class: (i == 0) ? 'active in' : '' }
                = section.content
